USE [master]
GO
/****** Object:  Database [DBQUIZ]    Script Date: 11/8/2018 12:20:13 PM ******/
CREATE DATABASE [DBQUIZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQUIZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBQUIZ.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBQUIZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBQUIZ_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQUIZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQUIZ]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 11/8/2018 12:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[AD_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD_NAME] [nvarchar](20) NOT NULL,
	[AD_PASSWORD] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_categroy]    Script Date: 11/8/2018 12:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_categroy](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [nvarchar](50) NOT NULL,
	[cat_fk_adid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_QUESTIONS]    Script Date: 11/8/2018 12:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_QUESTIONS](
	[QUESTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[Q_TEXT] [nvarchar](max) NOT NULL,
	[OPA] [nvarchar](20) NOT NULL,
	[OPB] [nvarchar](20) NOT NULL,
	[OPC] [nvarchar](20) NOT NULL,
	[OPD] [nvarchar](20) NOT NULL,
	[COP] [nvarchar](20) NOT NULL,
	[q_fk_catid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_SETEXAM]    Script Date: 11/8/2018 12:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SETEXAM](
	[EXAM_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXAM_DATE] [datetime] NULL,
	[EXAM_FK_STU] [int] NULL,
	[EXAM_NAME] [nvarchar](50) NOT NULL,
	[EXAM_STD_SCORE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_STUDENT]    Script Date: 11/8/2018 12:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STUDENT](
	[S_ID] [int] IDENTITY(1,1) NOT NULL,
	[S_NAME] [nvarchar](20) NOT NULL,
	[S_PASSWORD] [nvarchar](20) NOT NULL,
	[S_IMAGE] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] ON 

INSERT [dbo].[TBL_ADMIN] ([AD_ID], [AD_NAME], [AD_PASSWORD]) VALUES (1, N'Admin', N'admin')
INSERT [dbo].[TBL_ADMIN] ([AD_ID], [AD_NAME], [AD_PASSWORD]) VALUES (2, N'root', N'admin')
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] OFF
SET IDENTITY_INSERT [dbo].[tbl_categroy] ON 

INSERT [dbo].[tbl_categroy] ([cat_id], [cat_name], [cat_fk_adid]) VALUES (1, N'asp.net MVC', 1)
INSERT [dbo].[tbl_categroy] ([cat_id], [cat_name], [cat_fk_adid]) VALUES (2, N'HTML-5', 1)
INSERT [dbo].[tbl_categroy] ([cat_id], [cat_name], [cat_fk_adid]) VALUES (3, N'LINUX UBUNTU', 1)
SET IDENTITY_INSERT [dbo].[tbl_categroy] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_ADMI__C07C26438B47F537]    Script Date: 11/8/2018 12:20:13 PM ******/
ALTER TABLE [dbo].[TBL_ADMIN] ADD UNIQUE NONCLUSTERED 
(
	[AD_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_QUES__CB396398D2DDBD8C]    Script Date: 11/8/2018 12:20:13 PM ******/
ALTER TABLE [dbo].[TBL_QUESTIONS] ADD UNIQUE NONCLUSTERED 
(
	[OPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_QUES__CB3963991E329D6B]    Script Date: 11/8/2018 12:20:13 PM ******/
ALTER TABLE [dbo].[TBL_QUESTIONS] ADD UNIQUE NONCLUSTERED 
(
	[OPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_QUES__CB39639B0DC82B75]    Script Date: 11/8/2018 12:20:13 PM ******/
ALTER TABLE [dbo].[TBL_QUESTIONS] ADD UNIQUE NONCLUSTERED 
(
	[OPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_QUES__CB39639E3F7BB8B3]    Script Date: 11/8/2018 12:20:13 PM ******/
ALTER TABLE [dbo].[TBL_QUESTIONS] ADD UNIQUE NONCLUSTERED 
(
	[OPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_STUD__8ADDC207BD3A4122]    Script Date: 11/8/2018 12:20:13 PM ******/
ALTER TABLE [dbo].[TBL_STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[S_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_categroy]  WITH CHECK ADD FOREIGN KEY([cat_fk_adid])
REFERENCES [dbo].[TBL_ADMIN] ([AD_ID])
GO
ALTER TABLE [dbo].[TBL_QUESTIONS]  WITH CHECK ADD FOREIGN KEY([q_fk_catid])
REFERENCES [dbo].[tbl_categroy] ([cat_id])
GO
ALTER TABLE [dbo].[TBL_SETEXAM]  WITH CHECK ADD FOREIGN KEY([EXAM_FK_STU])
REFERENCES [dbo].[TBL_STUDENT] ([S_ID])
GO
USE [master]
GO
